.detail {
  position: relative;
  width: 100%;
  padding: 5px;
  background-color: #e6e6e6;

  .slide {
    height: 300px;

    img {
      width: 100%;
      height: 300px;
    }

    ul.slick-dots {
      top: 260px;
    }
  }

  .detail-inte {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    height: 65px;
    background-color: white;

    p.detail-name {
      font-weight: bold;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.9);
      letter-spacing: 1px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-bottom: 2px;
    }

    span {
      font-size: 13px;
    }

    span.integral {
      font-size: 14px;
      font-weight: bold;
      color: #ff9933;
    }

    span.my-integral {
      font-size: 13px;
      color: #ff9933;
    }

    span.pull-right {
      float: right;
      padding-top: 2px;
      padding-right: 20px;
    }
  }

  .detail-info {
    margin-top: 10px;
    min-height: 100px;
    background-color: white;

    .detail-title {
      height: 35px;
      padding-top: 5px;
      padding-left: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 16px;
      color: rgba(0, 0, 0, 0.9);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-bottom: 2px;
    }

    .detail-content {
      padding-top: 5px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 5px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .detail-control {
    height: 100px;
    padding-top: 20px;

    button {
      width: 30%;
      height: 40px;
      text-align: center;
      font-size: 14px;
    }

    button:last-child {
      float: right;
    }
  }
}

@media  screen and (min-width: 600px) {
  .detail {
    .slide {
      height: 450px;

      img {
        height: 450px;
      }

      ul.slick-dots {
        top: 410px;
        left: 170px;
      }
    }
  }
}
