section.slide {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: white;

    div.slideWarp {
      position: absolute;
      padding: 0;
      margin: 0;
      left: 0;
      height: 100%;
      overflow: hidden;
      z-index: 98%;
      //transition: left 0.5s ease-out;

      .slide-item {
        position: relative;;
        display: inline-block;
        cursor: pointer;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    div.item-control {
      position: absolute;
      width: 150px;
      height: 30px;
      left: 50%;
      margin-left: -80px;
      top: 100%;
      margin-top: -25px;

      ul {
        margin: 0;
        width: 100%;
        height: 30px;
        padding-left: 0px;

        li {
          float: left;
          list-style-type: none;
          width: 15px;
          height: 15px;
          border-radius: 15px;
          margin-left: 15px;
          border: 1px solid #666;
          cursor: pointer;

          &.choose {
            background-color: #666;
          }
        }
      }
    }
  }

  @media screen and (max-width: 350px) {
    section.slide {
      height: 180px;

      div.item-control {
        margin-top: -25px;
      }
    }
  }

  @media  screen and (min-width: 600px) {
    section.slide {
      height: 300px;

    }
  }
