.wrap {
  position: relative;
  max-width: 600px;
  margin: auto;
  margin-bottom: 40px;
  overflow-x: hidden;
  font-family: '微软雅黑';
}

.commodity-list {
  padding-left: 5%;
  background-color: #e6e6e6;
}
